#header {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: tan;
    border: 2px solid black;
    height: 100px;
    width: 700px;
    margin: auto;
    background-color: gray;
    font-size: 20px;
    
}

body {
    background-color: darkgray;
}

#textbox {
    margin: auto;
    width:702px;
}

#text {
    width: 636px;
    border: 1px solid black;
    margin: 10px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 25px;
}

#submit {
    border: 1px solid black;
    height: 30px;
}

p {
    margin: 5px 5px 5px 0px;
    background-color: lightgray;
    width: 670px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;
    text-align: center;
    height: 25px;
}

#tasks {
    margin: auto;
    width: 700px;
}

.xButton {
    height: 26px;
}